<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yefei.ework.dao.UserDOMapper" >
  <resultMap id="BaseResultMap" type="com.yefei.ework.entity.DO.UserDO" >
    <id column="id" property="id"/>
    <result column="username" property="username"  />
    <result column="password" property="password" />
    <result column="gmt_create" property="gmtCreate" javaType="java.util.Date" />
    <result column="gmt_modify" property="gmtModify" javaType="java.util.Date" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, username, password, gmt_create, gmt_modify
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>

    <select id="selectByUsername"  resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from user
      where username = #{username,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.yefei.ework.entity.DO.UserDO" >
    insert into user (id, username, password, 
      gmt_create, gmt_modify)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      now(), now())
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yefei.ework.entity.DO.UserDO" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
    and gmt_modify = now()
  </update>

  <update id="updateByPrimaryKey" parameterType="com.yefei.ework.entity.DO.UserDO" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
    and gmt_modify = now()
  </update>
</mapper>